* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    position: relative;
  }

  .route-container {
    position: relative;
    min-height: 80vh;
  }

  router-outlet {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  /* Style pour les composants enfants du router-outlet */
  router-outlet + * {
    width: 100%;
    background-color: var(--white);
    padding: 20px;
    will-change: opacity, transform;
  }